*{
    margin :0;
    padding : 0;
    box-sizing: border-box;
}

header{
    margin-bottom:20px;
    height : 80px;
    text-align: center;
    color:aliceblue;
    background-color: grey;
    width: 100%;
    line-height: 80px;

}

nav{
    color:aliceblue;
    background-color: grey;
    width:  100%;
    height : 50px;
    margin-bottom: 20px;;
    line-height: 50px;

    text-align: center;
}

nav a{
    padding: 0 25px;
    color:blanchedalmond;
    display : inline-block;
    text-decoration: none;

}

main{
    margin-bottom:20px;
    height : 500px;
    padding-top: 200px;
    text-align: center;
    color:aliceblue;
    background-color: grey;
    width: 100%;


}

main h2{
    font-size : 20px;
}

main p{
    font-size : 10px;
}

footer{
    color:aliceblue;
    background-color: grey;
    width:  100%;
    height : 100px;
    margin-bottom: 20px;;
    line-height: 100px;

    text-align: center;


}

